body{
    background-image: url(https://i.pinimg.com/originals/95/6a/40/956a40f4a4bd1a73afa6c6275a830888.jpg);
}
table{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 5px;
    }  
    th,td{
        border: 1px solid black;
        padding: 10px;
        font-size: large;
        padding: 10px;
        font-size: 15px;
    }
    tr{
        text-align: center;
    }
    .conclusion{
    
        background-color: black;
        color: blanchedalmond;
        font-family: cursive;
        text-align:center;
        padding: 10px;
        border-radius: 40px;
      
    }
    .intro{
        background-color:rgb(12, 4, 20);
        font-size: 30px;
        font-family: cursive;
        color: bisque;
        
    }